@font-face {
  font-family: "cheikhouFont";
  src: url("Oswald-VariableFont_wght.ttf");
}
body {
  box-sizing: border-box;
  background: rgba(56, 39, 39, 0.65);
}
h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "cheikhouFont";
  text-shadow: 3px 2px rgba(233, 150, 122, 0.575);
}
#app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: large;
  border: solid 2px;
  display: grid;
  grid-template-columns: 50% 50%;
  background: rgba(233, 150, 122, 0.575);
}
h4 {
  font-size: 1.5rem;
  font-family: "cheikhouFont";
  background: rgba(255, 228, 196, 0.568);
}
.question1,
.question2,
.question3,
.question4,
.question5,
.question6 {
  border: solid 2px;
  text-align: center;
}
button {
  display: block;
  margin: 15px;
  font-size: 1.2rem;
  box-shadow: black 2px 1px;
  cursor: pointer;
  margin-left: 55px;
  font-weight: bold;
  background: rgba(87, 63, 4, 0.685);
  color: bisque;
  cursor: pointer;
}
.cptr {
  text-align: center;
  font-size: 5rem;
  margin-left: 50%;
  border: solid 1px;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  background: rgba(83, 143, 143, 0.781);
}
